{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
	
		<div class="col-6">
		<h5>{{object.title}}</h5><span id="like">{{object.likes}}</span>
		<i onclick="hello()" class="bi bi-hand-thumbs-up fs-4"></i>
		
<br>
		{{object.description}}<br>
		
		</div>
		<div class="col-6">
		<img src="{{object.image.url}}" height="500" width="500"><br>
		</div>
	
	</div>
</div>
<script type="text/javascript">
			function hello(){
			var post_id = "{{object.pk}}";
			var likes = document.getElementById('like').innerHTML
			$.ajax({
				url: '{% url "myapp:like" %}',
				data: {'post_id':post_id,'likes':likes},
				success: function(data) {
					document.getElementById('like').innerHTML = data.likes
				}
			})
			}
		</script>
{% endblock %}


